.ytoc a{
  color:black!important;
}

.u-palette-1-base, .u-body.u-palette-1-base, section.u-palette-1-base:before, .u-palette-1-base > .u-audio-main-layout-wrapper:before, .u-palette-1-base > .u-container-layout:before, .u-palette-1-base > .u-inner-container-layout:before, .u-palette-1-base.u-sidenav:before, .u-container-layout.u-container-layout.u-palette-1-base:before, .u-table-alt-palette-1-base tr:nth-child(even) {
    color: #111111;
    background-color: lightgray;
}
.u-grey-80, .u-body.u-grey-80, section.u-grey-80:before, .u-grey-80 > .u-audio-main-layout-wrapper:before, .u-grey-80 > .u-container-layout:before, .u-grey-80 > .u-inner-container-layout:before, .u-grey-80.u-sidenav:before, .u-container-layout.u-container-layout.u-grey-80:before, .u-table-alt-grey-80 tr:nth-child(even) {
    color: #ffffff;
    background-color: #333333;
}
